@font-face {
    font-family: "BMJUA";
    font-weight: normal;
    font-style: normal;
    src: url("BMJUA.ttf")
}
@font-face {
    font-family: "NanumGothicBold";
    font-weight: bold;
    font-style: normal;
    src: url("NanumGothicBold.ttf") format("ttf");
}
@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}